@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Coustard&family=Monoton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #A57C00;
}

h1{margin: 10px;}

.First-row {margin: 20px;}

button {border-color: gray;}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: 	#D2042D;
  font-family: 'Coustard', serif;
  font-size: 20px;
}

.App > div {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.App > div .Ok-btn {
  position: absolute;
  padding: 8px;
  left: calc(100% + 8px);
  background-color: lightgray;
  padding: 3px;
  font-weight: bold;
  cursor: pointer;
}

.App > div .Show-btn {
  position: absolute;
  padding: 8px;
  left: calc(100% + 8px);
  background-color: lightgray;
  padding: 3px;
  font-weight: bold;
  cursor: pointer;
}

.App > div .Result-fields {
  position: absolute;
  top: -5px;
  height: 40px;
  width: 40px;
  left: -50px;
  font-weight: bold;
}
.Result-field {
 height: 15px;
 width: 15px;
 margin: 1px;
 border-radius: 10px;
 border-width: 0px;
 background-color: #A57C00;
}

.Hide-field{
  height: 50px;
  width:  50px;
  background-color: #996515;
}
.Color-field{
  height: 50px;
  width:  50px;
  color: #666666;
  cursor: pointer;
}

.Hr{	
	width: 50%;
 	background-color: #996515;
	border-color: #996515;
  margin: 20px;
}

.Link-text{
font-size: 20px;
padding: 20px;
cursor: pointer;
}


